In [ ]:
!pip install langchain_openai langchain_community langchain pymysql chromadb -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 33.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 49.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 4.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 526.8/526.8 kB 35.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.9/302.9 kB 28.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 320.6/320.6 kB 26.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 50.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.0/121.0 kB 13.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 52.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.0/92.0 kB 10.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.8/60.8 kB 6.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.3/41.3 kB 5.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.8/6.8 MB 77.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.1/60.1 kB 6.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.1/106.1 kB 12.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.3/67.3 kB 7.0 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 24.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 72.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.6/67.6 kB 6.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 142.5/142.5 kB 15.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.3/49.3 kB 4.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.9/71.9 kB 8.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 8.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.6/53.6 kB 6.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.0/53.0 kB 5.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.0/46.0 kB 4.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.8/50.8 kB 5.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.4/341.4 kB 33.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 82.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 70.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 130.2/130.2 kB 13.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 28.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.2/47.2 kB 5.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 6.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 8.7 MB/s eta 0:00:00
  Building wheel for pypika (pyproject.toml) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spacy 3.7.4 requires typer<0.10.0,>=0.3.0, but you have typer 0.12.3 which is incompatible.
weasel 0.3.4 requires typer<0.10.0,>=0.3.0, but you have typer 0.12.3 which is incompatible.

# Importing Libraries

In [ ]:
import os
import psycopg2
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
import pandas as pd
from langchain_community.utilities.sql_database import SQLDatabase
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

In [ ]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)

In [ ]:
os.environ['OPENAI_API_KEY']= "YOUR_OPENAI_API_KEY"

# Connecting the Database

In [ ]:
 # db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=1,include_tables=['customers','orders'],custom_table_info={'customers':"customer"})
db = SQLDatabase.from_uri(f"postgresql+psycopg2://postgres:ashish6677@35.244.23.220/dvdrental")
print(db.dialect)
print(db.get_usable_table_names())
print(db.table_info)

postgresql
['actor', 'address', 'category', 'city', 'country', 'customer', 'customers', 'film', 'film_actor', 'film_category', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

CREATE TABLE actor (
	actor_id SERIAL NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT actor_pkey PRIMARY KEY (actor_id)
)

/*
3 rows from actor table:
actor_id	first_name	last_name	last_update
1	Penelope	Guiness	2013-05-26 14:47:57.620000
2	Nick	Wahlberg	2013-05-26 14:47:57.620000
3	Ed	Chase	2013-05-26 14:47:57.620000
*/


CREATE TABLE address (
	address_id SERIAL NOT NULL,
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT address_pkey PRIMARY KEY (address_id),
	CONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id)
)

/*
3 rows from address table:
address_id	address	address2	district	city_id	postal_code	phone	last_update
1	47 MySakila Drive	None	Alberta	300			2006-02-15 09:45:30
2	28 MySQL Boulevard	None	QLD	576			2006-02-15 09:45:30
3	23 Workhaven Lane	None	Alberta	300		14033335568	2006-02-15 09:45:30
*/


CREATE TABLE category (
	category_id SERIAL NOT NULL,
	name VARCHAR(25) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT category_pkey PRIMARY KEY (category_id)
)

/*
3 rows from category table:
category_id	name	last_update
1	Action	2006-02-15 09:46:27
2	Animation	2006-02-15 09:46:27
3	Children	2006-02-15 09:46:27
*/


CREATE TABLE city (
	city_id SERIAL NOT NULL,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT city_pkey PRIMARY KEY (city_id),
	CONSTRAINT fk_city FOREIGN KEY(country_id) REFERENCES country (country_id)
)

/*
3 rows from city table:
city_id	city	country_id	last_update
1	A Corua (La Corua)	87	2006-02-15 09:45:25
2	Abha	82	2006-02-15 09:45:25
3	Abu Dhabi	101	2006-02-15 09:45:25
*/


CREATE TABLE country (
	country_id SERIAL NOT NULL,
	country VARCHAR(50) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT country_pkey PRIMARY KEY (country_id)
)

/*
3 rows from country table:
country_id	country	last_update
1	Afghanistan	2006-02-15 09:44:00
2	Algeria	2006-02-15 09:44:00
3	American Samoa	2006-02-15 09:44:00
*/


CREATE TABLE customer (
	customer_id SERIAL NOT NULL,
	store_id SMALLINT NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	email VARCHAR(50),
	address_id SMALLINT NOT NULL,
	activebool BOOLEAN DEFAULT true NOT NULL,
	create_date DATE DEFAULT ('now'::text)::date NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now(),
	active INTEGER,
	CONSTRAINT customer_pkey PRIMARY KEY (customer_id),
	CONSTRAINT customer_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from customer table:
customer_id	store_id	first_name	last_name	email	address_id	activebool	create_date	last_update	active
524	1	Jared	Ely	jared.ely@sakilacustomer.org	530	True	2006-02-14	2013-05-26 14:49:45.738000	1
1	1	Mary	Smith	mary.smith@sakilacustomer.org	5	True	2006-02-14	2013-05-26 14:49:45.738000	1
2	1	Patricia	Johnson	patricia.johnson@sakilacustomer.org	6	True	2006-02-14	2013-05-26 14:49:45.738000	1
*/


CREATE TABLE customers (
	customer_id SERIAL NOT NULL,
	firstname VARCHAR(50) NOT NULL,
	lastname VARCHAR(50) NOT NULL,
	location VARCHAR(50) NOT NULL,
	email VARCHAR(50) NOT NULL,
	CONSTRAINT customers_pkey PRIMARY KEY (customer_id)
)

/*
3 rows from customers table:
customer_id	firstname	lastname	location	email
1	Orlando	Bloom	Australia	orlando@python.com
2	Keith	Urban	India	keith0@adventure-works.com
3	Donna	Paulson	Germany	donna0@adventure-works.com
*/


CREATE TABLE film (
	film_id SERIAL NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT,
	release_year year,
	language_id SMALLINT NOT NULL,
	rental_duration SMALLINT DEFAULT 3 NOT NULL,
	rental_rate NUMERIC(4, 2) DEFAULT 4.99 NOT NULL,
	length SMALLINT,
	replacement_cost NUMERIC(5, 2) DEFAULT 19.99 NOT NULL,
	rating mpaa_rating DEFAULT 'G'::mpaa_rating,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	special_features TEXT[],
	fulltext TSVECTOR NOT NULL,
	CONSTRAINT film_pkey PRIMARY KEY (film_id),
	CONSTRAINT film_language_id_fkey FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film table:
film_id	title	description	release_year	language_id	rental_duration	rental_rate	length	replacement_cost	rating	last_update	special_features	fulltext
133	Chamber Italian	A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria	2006	1	7	4.99	117	14.99	NC-17	2013-05-26 14:50:58.951000	['Trailers']	'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':
384	Grosse Wonderful	A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia	2006	1	5	4.99	49	19.99	R	2013-05-26 14:50:58.951000	['Behind the Scenes']	'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'won
8	Airport Pollock	A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India	2006	1	6	4.99	54	15.99	R	2013-05-26 14:50:58.951000	['Trailers']	'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13
*/


CREATE TABLE film_actor (
	actor_id SMALLINT NOT NULL,
	film_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT film_actor_pkey PRIMARY KEY (actor_id, film_id),
	CONSTRAINT film_actor_actor_id_fkey FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT film_actor_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film_actor table:
actor_id	film_id	last_update
1	1	2006-02-15 10:05:03
1	23	2006-02-15 10:05:03
1	25	2006-02-15 10:05:03
*/


CREATE TABLE film_category (
	film_id SMALLINT NOT NULL,
	category_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT film_category_pkey PRIMARY KEY (film_id, category_id),
	CONSTRAINT film_category_category_id_fkey FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT film_category_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film_category table:
film_id	category_id	last_update
1	6	2006-02-15 10:07:09
2	11	2006-02-15 10:07:09
3	6	2006-02-15 10:07:09
*/


CREATE TABLE inventory (
	inventory_id SERIAL NOT NULL,
	film_id SMALLINT NOT NULL,
	store_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT inventory_pkey PRIMARY KEY (inventory_id),
	CONSTRAINT inventory_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from inventory table:
inventory_id	film_id	store_id	last_update
1	1	1	2006-02-15 10:09:17
2	1	1	2006-02-15 10:09:17
3	1	1	2006-02-15 10:09:17
*/


CREATE TABLE language (
	language_id SERIAL NOT NULL,
	name CHAR(20) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT language_pkey PRIMARY KEY (language_id)
)

/*
3 rows from language table:
language_id	name	last_update
1	English             	2006-02-15 10:02:19
2	Italian             	2006-02-15 10:02:19
3	Japanese            	2006-02-15 10:02:19
*/


CREATE TABLE payment (
	payment_id SERIAL NOT NULL,
	customer_id SMALLINT NOT NULL,
	staff_id SMALLINT NOT NULL,
	rental_id INTEGER NOT NULL,
	amount NUMERIC(5, 2) NOT NULL,
	payment_date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT payment_pkey PRIMARY KEY (payment_id),
	CONSTRAINT payment_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT payment_rental_id_fkey FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT payment_staff_id_fkey FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from payment table:
payment_id	customer_id	staff_id	rental_id	amount	payment_date
17503	341	2	1520	7.99	2007-02-15 22:25:46.996577
17504	341	1	1778	1.99	2007-02-16 17:23:14.996577
17505	341	1	1849	7.99	2007-02-16 22:41:45.996577
*/


CREATE TABLE rental (
	rental_id SERIAL NOT NULL,
	rental_date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	inventory_id INTEGER NOT NULL,
	customer_id SMALLINT NOT NULL,
	return_date TIMESTAMP WITHOUT TIME ZONE,
	staff_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT rental_pkey PRIMARY KEY (rental_id),
	CONSTRAINT rental_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT rental_inventory_id_fkey FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT rental_staff_id_key FOREIGN KEY(staff_id) REFERENCES staff (staff_id)
)

/*
3 rows from rental table:
rental_id	rental_date	inventory_id	customer_id	return_date	staff_id	last_update
2	2005-05-24 22:54:33	1525	459	2005-05-28 19:40:33	1	2006-02-16 02:30:53
3	2005-05-24 23:03:39	1711	408	2005-06-01 22:12:39	1	2006-02-16 02:30:53
4	2005-05-24 23:04:41	2452	333	2005-06-03 01:43:41	2	2006-02-16 02:30:53
*/


CREATE TABLE staff (
	staff_id SERIAL NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	address_id SMALLINT NOT NULL,
	email VARCHAR(50),
	store_id SMALLINT NOT NULL,
	active BOOLEAN DEFAULT true NOT NULL,
	username VARCHAR(16) NOT NULL,
	password VARCHAR(40),
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	picture BYTEA,
	CONSTRAINT staff_pkey PRIMARY KEY (staff_id),
	CONSTRAINT staff_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from staff table:
staff_id	first_name	last_name	address_id	email	store_id	active	username	password	last_update	picture
1	Mike	Hillyer	3	Mike.Hillyer@sakilastaff.com	1	True	Mike	8cb2237d0679ca88db6464eac60da96345513964	2006-05-16 16:13:11.793280	b'\x89PNG\r\nZ\n'
2	Jon	Stephens	4	Jon.Stephens@sakilastaff.com	2	True	Jon	8cb2237d0679ca88db6464eac60da96345513964	2006-05-16 16:13:11.793280	None
*/


CREATE TABLE store (
	store_id SERIAL NOT NULL,
	manager_staff_id SMALLINT NOT NULL,
	address_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT store_pkey PRIMARY KEY (store_id),
	CONSTRAINT store_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT store_manager_staff_id_fkey FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from store table:
store_id	manager_staff_id	address_id	last_update
1	1	1	2006-02-15 09:57:12
2	2	2	2006-02-15 09:57:12
*/

# Converting Natural Language to SQL

In [ ]:

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
generate_query = create_sql_query_chain(llm, db)
query = generate_query.invoke({"question": "How many film categories are there?"})
print(query)

SELECT COUNT("category_id") AS total_categories
FROM category;

# Running the SQL Query to get the Output

In [ ]:

execute_query = QuerySQLDataBaseTool(db=db)
execute_query.invoke(query)

'[(16,)]'

# Rephrasing Answers

In [ ]:


answer_prompt = PromptTemplate.from_template(
     """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

 Question: {question}
 SQL Query: {query}
 SQL Result: {result}
 Answer: """
 )

rephrase_answer = answer_prompt | llm | StrOutputParser()

chain = (
     RunnablePassthrough.assign(query=generate_query).assign(
         result=itemgetter("query") | execute_query
     )
     | rephrase_answer
 )
chain.invoke({"question": "How many actors have more than 2 films"})

'There are 5 actors who have appeared in more than 2 films.'