# Importing Libraries

In [2]:
import os
import psycopg2
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
import pandas as pd
from langchain_community.utilities.sql_database import SQLDatabase
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough
from dotenv import load_dotenv

## Test the Connection

In [4]:
import psycopg2

# Replace with your real values
host = os.getenv("HOST")        # The public IP of your Cloud SQL instance
port = os.getenv("PORT")                 # Default Postgres port
database = os.getenv("DATABASE")    # Your database name
user = os.getenv("USER")           # Your database username
password = os.getenv("PASSWORD") # Your database user's password

# Set sslmode to 'require' for encrypted connection
try:
    conn = psycopg2.connect(
        host=host,
        port=port,
        dbname=database,
        user=user,
        password=password,
        sslmode='require'
    )
    print("Connection successful!")
    # Do your SQL work here...
    conn.close()
except Exception as e:
    print("Connection failed:", e)

Connection successful!

## Creation of the schema in db

In [1]:
from sqlalchemy import create_engine
from schema import Base, get_tables_in_order, create_rls_policy  # import from your schema.py file

# Your database connection URL
DATABASE_URL = "postgresql+psycopg2://postgres:ashish6677@34.30.63.17:5432/postgres"

engine = create_engine(DATABASE_URL)

def create_all_tables():
    Base.metadata.bind = engine
    tables = get_tables_in_order()  # Method imported from schema.py
    for table_class in tables:
        table_class.__table__.create(bind=engine, checkfirst=True)

    # Apply RLS policies
    with engine.connect() as conn:
        for table_class in tables:
            if 'company_id' in table_class.__table__.c:
                conn.execute(create_rls_policy(table_class.__tablename__))

if __name__ == "__main__":
    create_all_tables()
    print("All tables created with RLS policies applied.")

KeyboardInterrupt

In [2]:
import nest_asyncio
nest_asyncio.apply()
from langgraph.prebuilt import create_react_agent
# TODO(developer): replace this with another import if needed
from langchain_google_vertexai import ChatVertexAI
# from langchain_google_genai import ChatGoogleGenerativeAI
# from langchain_anthropic import ChatAnthropi
from langgraph.checkpoint.memory import MemorySaver
from toolbox_langchain import ToolboxClient
prompt = """
  You're a SQL expert, you know how convert natural language to SQL,  
"""

queries = ["What are the informations I can get from the tool ?",
           "what kind of data is present in the employees table ? "
]

async def run_application():
    # TODO(developer): replace this with another model if needed
    model = ChatVertexAI(model_name="gemini-2.0-flash-001", project="gen-lang-client-0571342867")
    # model = ChatGoogleGenerativeAI(model="gemini-2.0-flash-001")
    # model = ChatAnthropic(model="claude-3-5-sonnet-20240620")

    # Load the tools from the Toolbox server
    async with ToolboxClient("http://127.0.0.1:5000") as client:
        tools = await client.aload_toolset()

        agent = create_react_agent(model, tools, checkpointer=MemorySaver())

        config = {"configurable": {"thread_id": "thread-1"}}
        for query in queries:
            inputs = {"messages": [("user", prompt + query)]}
            response = agent.invoke(inputs, stream_mode="values", config=config)
            print(response["messages"][-1].content)

await run_application()

You can use this tool to:

1.  **Retrieve database schema information:**  You can get information about the tables and columns in the database.
2.  **Execute SQL queries:** You can run SQL queries against the database.

The `employees` table contains the following columns:

*   `employee_id`
*   `company_id`
*   `department_id`
*   `employee_code`
*   `name`
*   `pan`
*   `pf_number`
*   `esi_number`
*   `uan`
*   `doj` (Date of Joining)
*   `dol` (Date of Leaving)
*   `salary`
*   `email`
*   `phone`
*   `address`
*   `city`
*   `state`
*   `country`
*   `status`
*   `created_at`

This table appears to store information about employees, including their personal details, employment details, contact information, and employment status.

In [12]:
## Load the metadata on Redis

## Load the metadata on Redis

In [17]:
import json
import redis.asyncio as redis
from toolbox_langchain import ToolboxClient

async def fetch_schema_from_toolbox_and_save(redis_url, toolbox_url="http://127.0.0.1:5000", toolset_name="my-toolset"):
    # Connect to Redis using redis.asyncio
    redis_client = redis.from_url(redis_url)
    
    # Connect to Toolbox client
    async with ToolboxClient(toolbox_url) as client:
        # Load the toolset
        tools = await client.aload_toolset(toolset_name)
        
        # Find 'get-schema' tool
        get_schema_tool = next((t for t in tools if t.name == "get-schema"), None)
        print(get_schema_tool)
        if get_schema_tool is None:
            raise ValueError("get-schema tool not found in toolset")
        
        # Call get-schema tool asynchronously
        schema_output = get_schema_tool.invoke({})
        print(schema_output)
        # Serialize and store in Redis
        metadata_json = schema_output

        await redis_client.set("db_metadata", metadata_json)
    
    # Close Redis connection
    await redis_client.close()


redis_url = "redis://localhost:6379"
await fetch_schema_from_toolbox_and_save(redis_url)

name='get-schema' description='Retrieve database schema information including tables and columns.' args_schema=<class 'toolbox_core.utils.get-schema'>
[{"column_name":"account_id","table_name":"accounts"},{"column_name":"company_id","table_name":"accounts"},{"column_name":"code","table_name":"accounts"},{"column_name":"name","table_name":"accounts"},{"column_name":"type","table_name":"accounts"},{"column_name":"parent_account_id","table_name":"accounts"},{"column_name":"created_at","table_name":"accounts"},{"column_name":"is_active","table_name":"accounts"},{"column_name":"address_id","table_name":"addresses"},{"column_name":"company_id","table_name":"addresses"},{"column_name":"address_line1","table_name":"addresses"},{"column_name":"address_line2","table_name":"addresses"},{"column_name":"city","table_name":"addresses"},{"column_name":"state","table_name":"addresses"},{"column_name":"country","table_name":"addresses"},{"column_name":"pin_code","table_name":"addresses"},{"column_name":"latitude","table_name":"addresses"},{"column_name":"longitude","table_name":"addresses"},{"column_name":"created_at","table_name":"addresses"},{"column_name":"updated_at","table_name":"addresses"},{"column_name":"log_id","table_name":"audit_logs"},{"column_name":"company_id","table_name":"audit_logs"},{"column_name":"erp_user_id","table_name":"audit_logs"},{"column_name":"action","table_name":"audit_logs"},{"column_name":"table_name","table_name":"audit_logs"},{"column_name":"record_id","table_name":"audit_logs"},{"column_name":"old_values","table_name":"audit_logs"},{"column_name":"new_values","table_name":"audit_logs"},{"column_name":"ip_address","table_name":"audit_logs"},{"column_name":"user_agent","table_name":"audit_logs"},{"column_name":"created_at","table_name":"audit_logs"},{"column_name":"company_id","table_name":"companies"},{"column_name":"name","table_name":"companies"},{"column_name":"cin","table_name":"companies"},{"column_name":"pan","table_name":"companies"},{"column_name":"created_at","table_name":"companies"},{"column_name":"gstin_id","table_name":"company_gstins"},{"column_name":"company_id","table_name":"company_gstins"},{"column_name":"gstin","table_name":"company_gstins"},{"column_name":"address_id","table_name":"company_gstins"},{"column_name":"is_primary","table_name":"company_gstins"},{"column_name":"is_active","table_name":"company_gstins"},{"column_name":"created_at","table_name":"company_gstins"},{"column_name":"updated_at","table_name":"company_gstins"},{"column_name":"customer_id","table_name":"customers"},{"column_name":"company_id","table_name":"customers"},{"column_name":"name","table_name":"customers"},{"column_name":"gstin","table_name":"customers"},{"column_name":"address","table_name":"customers"},{"column_name":"city","table_name":"customers"},{"column_name":"state","table_name":"customers"},{"column_name":"country","table_name":"customers"},{"column_name":"contact_person","table_name":"customers"},{"column_name":"email","table_name":"customers"},{"column_name":"phone","table_name":"customers"},{"column_name":"credit_limit","table_name":"customers"},{"column_name":"created_at","table_name":"customers"},{"column_name":"is_active","table_name":"customers"},{"column_name":"department_id","table_name":"departments"},{"column_name":"company_id","table_name":"departments"},{"column_name":"name","table_name":"departments"},{"column_name":"description","table_name":"departments"},{"column_name":"created_at","table_name":"departments"},{"column_name":"verification_id","table_name":"email_verifications"},{"column_name":"user_id","table_name":"email_verifications"},{"column_name":"email","table_name":"email_verifications"},{"column_name":"otp","table_name":"email_verifications"},{"column_name":"is_verified","table_name":"email_verifications"},{"column_name":"created_at","table_name":"email_verifications"},{"column_name":"expires_at","table_name":"email_verifications"},{"column_name":"employee_id","table_name":"employees"},{"column_name":"company_id","table_name":"employees"},{"column_name":"department_id","table_name":"employees"},{"column_name":"employee_code","table_name":"employees"},{"column_name":"name","table_name":"employees"},{"column_name":"pan","table_name":"employees"},{"column_name":"pf_number","table_name":"employees"},{"column_name":"esi_number","table_name":"employees"},{"column_name":"uan","table_name":"employees"},{"column_name":"doj","table_name":"employees"},{"column_name":"dol","table_name":"employees"},{"column_name":"salary","table_name":"employees"},{"column_name":"email","table_name":"employees"},{"column_name":"phone","table_name":"employees"},{"column_name":"address","table_name":"employees"},{"column_name":"city","table_name":"employees"},{"column_name":"state","table_name":"employees"},{"column_name":"country","table_name":"employees"},{"column_name":"status","table_name":"employees"},{"column_name":"created_at","table_name":"employees"},{"column_name":"export_id","table_name":"file_exports"},{"column_name":"company_id","table_name":"file_exports"},{"column_name":"user_id","table_name":"file_exports"},{"column_name":"user_email","table_name":"file_exports"},{"column_name":"file_type","table_name":"file_exports"},{"column_name":"status","table_name":"file_exports"},{"column_name":"file_path","table_name":"file_exports"},{"column_name":"requested_at","table_name":"file_exports"},{"column_name":"completed_at","table_name":"file_exports"},{"column_name":"email_sent","table_name":"file_exports"},{"column_name":"asset_id","table_name":"fixed_assets"},{"column_name":"company_id","table_name":"fixed_assets"},{"column_name":"name","table_name":"fixed_assets"},{"column_name":"asset_number","table_name":"fixed_assets"},{"column_name":"purchase_date","table_name":"fixed_assets"},{"column_name":"purchase_value","table_name":"fixed_assets"},{"column_name":"vendor_id","table_name":"fixed_assets"},{"column_name":"address_id","table_name":"fixed_assets"},{"column_name":"asset_class","table_name":"fixed_assets"},{"column_name":"useful_life_years","table_name":"fixed_assets"},{"column_name":"depreciation_method","table_name":"fixed_assets"},{"column_name":"salvage_value","table_name":"fixed_assets"},{"column_name":"current_value","table_name":"fixed_assets"},{"column_name":"last_depreciation_date","table_name":"fixed_assets"},{"column_name":"depreciation_rate","table_name":"fixed_assets"},{"column_name":"status","table_name":"fixed_assets"},{"column_name":"created_at","table_name":"fixed_assets"},{"column_name":"inventory_id","table_name":"inventory"},{"column_name":"company_id","table_name":"inventory"},{"column_name":"product_id","table_name":"inventory"},{"column_name":"address_id","table_name":"inventory"},{"column_name":"quantity","table_name":"inventory"},{"column_name":"last_updated","table_name":"inventory"},{"column_name":"invoice_id","table_name":"invoices"},{"column_name":"company_id","table_name":"invoices"},{"column_name":"order_id","table_name":"invoices"},{"column_name":"customer_id","table_name":"invoices"},{"column_name":"invoice_date","table_name":"invoices"},{"column_name":"due_date","table_name":"invoices"},{"column_name":"amount","table_name":"invoices"},{"column_name":"paid_amount","table_name":"invoices"},{"column_name":"status","table_name":"invoices"},{"column_name":"created_at","table_name":"invoices"},{"column_name":"payable_id","table_name":"payables"},{"column_name":"company_id","table_name":"payables"},{"column_name":"po_id","table_name":"payables"},{"column_name":"vendor_id","table_name":"payables"},{"column_name":"invoice_date","table_name":"payables"},{"column_name":"due_date","table_name":"payables"},{"column_name":"amount","table_name":"payables"},{"column_name":"paid_amount","table_name":"payables"},{"column_name":"status","table_name":"payables"},{"column_name":"created_at","table_name":"payables"},{"column_name":"payment_id","table_name":"payments"},{"column_name":"subscription_id","table_name":"payments"},{"column_name":"amount","table_name":"payments"},{"column_name":"payment_date","table_name":"payments"},{"column_name":"status","table_name":"payments"},{"column_name":"razorpay_order_id","table_name":"payments"},{"column_name":"razorpay_payment_id","table_name":"payments"},{"column_name":"created_at","table_name":"payments"},{"column_name":"payroll_id","table_name":"payroll"},{"column_name":"company_id","table_name":"payroll"},{"column_name":"employee_id","table_name":"payroll"},{"column_name":"pay_period","table_name":"payroll"},{"column_name":"basic_salary","table_name":"payroll"},{"column_name":"hra","table_name":"payroll"},{"column_name":"conveyance","table_name":"payroll"},{"column_name":"medical_allowance","table_name":"payroll"},{"column_name":"special_allowance","table_name":"payroll"},{"column_name":"gross_salary","table_name":"payroll"},{"column_name":"pf_deduction","table_name":"payroll"},{"column_name":"esi_deduction","table_name":"payroll"},{"column_name":"tds_deduction","table_name":"payroll"},{"column_name":"other_deductions","table_name":"payroll"},{"column_name":"net_salary","table_name":"payroll"},{"column_name":"payment_status","table_name":"payroll"},{"column_name":"payment_date","table_name":"payroll"},{"column_name":"created_at","table_name":"payroll"},{"column_name":"verification_id","table_name":"phone_verifications"},{"column_name":"user_id","table_name":"phone_verifications"},{"column_name":"phone_number","table_name":"phone_verifications"},{"column_name":"otp","table_name":"phone_verifications"},{"column_name":"is_verified","table_name":"phone_verifications"},{"column_name":"created_at","table_name":"phone_verifications"},{"column_name":"expires_at","table_name":"phone_verifications"},{"column_name":"product_id","table_name":"products"},{"column_name":"company_id","table_name":"products"},{"column_name":"name","table_name":"products"},{"column_name":"sku","table_name":"products"},{"column_name":"hsn_code","table_name":"products"},{"column_name":"description","table_name":"products"},{"column_name":"unit","table_name":"products"},{"column_name":"sale_price","table_name":"products"},{"column_name":"purchase_price","table_name":"products"},{"column_name":"min_stock_level","table_name":"products"},{"column_name":"max_stock_level","table_name":"products"},{"column_name":"created_at","table_name":"products"},{"column_name":"is_active","table_name":"products"},{"column_name":"item_id","table_name":"purchase_order_items"},{"column_name":"company_id","table_name":"purchase_order_items"},{"column_name":"po_id","table_name":"purchase_order_items"},{"column_name":"product_id","table_name":"purchase_order_items"},{"column_name":"quantity","table_name":"purchase_order_items"},{"column_name":"unit_price","table_name":"purchase_order_items"},{"column_name":"gst_rate","table_name":"purchase_order_items"},{"column_name":"cgst_rate","table_name":"purchase_order_items"},{"column_name":"sgst_rate","table_name":"purchase_order_items"},{"column_name":"igst_rate","table_name":"purchase_order_items"},{"column_name":"cgst_amount","table_name":"purchase_order_items"},{"column_name":"sgst_amount","table_name":"purchase_order_items"},{"column_name":"igst_amount","table_name":"purchase_order_items"},{"column_name":"total_amount","table_name":"purchase_order_items"},{"column_name":"po_id","table_name":"purchase_orders"},{"column_name":"company_id","table_name":"purchase_orders"},{"column_name":"vendor_id","table_name":"purchase_orders"},{"column_name":"po_date","table_name":"purchase_orders"},{"column_name":"expected_date","table_name":"purchase_orders"},{"column_name":"status","table_name":"purchase_orders"},{"column_name":"subtotal","table_name":"purchase_orders"},{"column_name":"cgst_amount","table_name":"purchase_orders"},{"column_name":"sgst_amount","table_name":"purchase_orders"},{"column_name":"igst_amount","table_name":"purchase_orders"},{"column_name":"total_amount","table_name":"purchase_orders"},{"column_name":"notes","table_name":"purchase_orders"},{"column_name":"created_by","table_name":"purchase_orders"},{"column_name":"created_at","table_name":"purchase_orders"},{"column_name":"role_id","table_name":"roles"},{"column_name":"company_id","table_name":"roles"},{"column_name":"role_name","table_name":"roles"},{"column_name":"description","table_name":"roles"},{"column_name":"created_at","table_name":"roles"},{"column_name":"item_id","table_name":"sales_order_items"},{"column_name":"company_id","table_name":"sales_order_items"},{"column_name":"order_id","table_name":"sales_order_items"},{"column_name":"product_id","table_name":"sales_order_items"},{"column_name":"quantity","table_name":"sales_order_items"},{"column_name":"unit_price","table_name":"sales_order_items"},{"column_name":"gst_rate","table_name":"sales_order_items"},{"column_name":"cgst_rate","table_name":"sales_order_items"},{"column_name":"sgst_rate","table_name":"sales_order_items"},{"column_name":"igst_rate","table_name":"sales_order_items"},{"column_name":"cgst_amount","table_name":"sales_order_items"},{"column_name":"sgst_amount","table_name":"sales_order_items"},{"column_name":"igst_amount","table_name":"sales_order_items"},{"column_name":"total_amount","table_name":"sales_order_items"},{"column_name":"order_id","table_name":"sales_orders"},{"column_name":"company_id","table_name":"sales_orders"},{"column_name":"customer_id","table_name":"sales_orders"},{"column_name":"order_date","table_name":"sales_orders"},{"column_name":"delivery_date","table_name":"sales_orders"},{"column_name":"status","table_name":"sales_orders"},{"column_name":"subtotal","table_name":"sales_orders"},{"column_name":"cgst_amount","table_name":"sales_orders"},{"column_name":"sgst_amount","table_name":"sales_orders"},{"column_name":"igst_amount","table_name":"sales_orders"},{"column_name":"total_amount","table_name":"sales_orders"},{"column_name":"notes","table_name":"sales_orders"},{"column_name":"created_by","table_name":"sales_orders"},{"column_name":"created_at","table_name":"sales_orders"},{"column_name":"subscription_id","table_name":"subscriptions"},{"column_name":"company_id","table_name":"subscriptions"},{"column_name":"user_id","table_name":"subscriptions"},{"column_name":"plan_type","table_name":"subscriptions"},{"column_name":"start_date","table_name":"subscriptions"},{"column_name":"end_date","table_name":"subscriptions"},{"column_name":"is_active","table_name":"subscriptions"},{"column_name":"price_per_user_per_month","table_name":"subscriptions"},{"column_name":"total_users","table_name":"subscriptions"},{"column_name":"total_amount","table_name":"subscriptions"},{"column_name":"payment_status","table_name":"subscriptions"},{"column_name":"razorpay_payment_id","table_name":"subscriptions"},{"column_name":"trial_start_date","table_name":"subscriptions"},{"column_name":"trial_end_date","table_name":"subscriptions"},{"column_name":"is_trial_active","table_name":"subscriptions"},{"column_name":"created_at","table_name":"subscriptions"},{"column_name":"updated_at","table_name":"subscriptions"},{"column_name":"transaction_id","table_name":"transactions"},{"column_name":"company_id","table_name":"transactions"},{"column_name":"date","table_name":"transactions"},{"column_name":"account_id","table_name":"transactions"},{"column_name":"amount","table_name":"transactions"},{"column_name":"type","table_name":"transactions"},{"column_name":"description","table_name":"transactions"},{"column_name":"reference_type","table_name":"transactions"},{"column_name":"reference_id","table_name":"transactions"},{"column_name":"created_by","table_name":"transactions"},{"column_name":"created_at","table_name":"transactions"},{"column_name":"erp_user_id","table_name":"user_company_roles"},{"column_name":"company_id","table_name":"user_company_roles"},{"column_name":"role_id","table_name":"user_company_roles"},{"column_name":"created_at","table_name":"user_company_roles"},{"column_name":"updated_at","table_name":"user_company_roles"},{"column_name":"vendor_id","table_name":"vendors"},{"column_name":"company_id","table_name":"vendors"},{"column_name":"name","table_name":"vendors"},{"column_name":"gstin","table_name":"vendors"},{"column_name":"address","table_name":"vendors"},{"column_name":"city","table_name":"vendors"},{"column_name":"state","table_name":"vendors"},{"column_name":"country","table_name":"vendors"},{"column_name":"contact_person","table_name":"vendors"},{"column_name":"email","table_name":"vendors"},{"column_name":"phone","table_name":"vendors"},{"column_name":"credit_limit","table_name":"vendors"},{"column_name":"created_at","table_name":"vendors"},{"column_name":"is_active","table_name":"vendors"}]

C:\Users\user\AppData\Local\Temp\ipykernel_1688\1407885258.py:29: DeprecationWarning: Call to deprecated close. (Use aclose() instead) -- Deprecated since version 5.0.1.
  await redis_client.close()

## Check Redis Data

In [19]:
import asyncio
import redis.asyncio as redis

async def check_redis_data(redis_url="redis://localhost:6379", key="db_metadata"):
    redis_client = redis.from_url(redis_url)
    value = await redis_client.get(key)
    if value:
        print(value.decode('utf-8'))  # assuming data is stored as a utf-8 JSON string
    else:
        print(f"No data found for key '{key}'")
    await redis_client.close()

await check_redis_data()

[{"column_name":"account_id","table_name":"accounts"},{"column_name":"company_id","table_name":"accounts"},{"column_name":"code","table_name":"accounts"},{"column_name":"name","table_name":"accounts"},{"column_name":"type","table_name":"accounts"},{"column_name":"parent_account_id","table_name":"accounts"},{"column_name":"created_at","table_name":"accounts"},{"column_name":"is_active","table_name":"accounts"},{"column_name":"address_id","table_name":"addresses"},{"column_name":"company_id","table_name":"addresses"},{"column_name":"address_line1","table_name":"addresses"},{"column_name":"address_line2","table_name":"addresses"},{"column_name":"city","table_name":"addresses"},{"column_name":"state","table_name":"addresses"},{"column_name":"country","table_name":"addresses"},{"column_name":"pin_code","table_name":"addresses"},{"column_name":"latitude","table_name":"addresses"},{"column_name":"longitude","table_name":"addresses"},{"column_name":"created_at","table_name":"addresses"},{"column_name":"updated_at","table_name":"addresses"},{"column_name":"log_id","table_name":"audit_logs"},{"column_name":"company_id","table_name":"audit_logs"},{"column_name":"erp_user_id","table_name":"audit_logs"},{"column_name":"action","table_name":"audit_logs"},{"column_name":"table_name","table_name":"audit_logs"},{"column_name":"record_id","table_name":"audit_logs"},{"column_name":"old_values","table_name":"audit_logs"},{"column_name":"new_values","table_name":"audit_logs"},{"column_name":"ip_address","table_name":"audit_logs"},{"column_name":"user_agent","table_name":"audit_logs"},{"column_name":"created_at","table_name":"audit_logs"},{"column_name":"company_id","table_name":"companies"},{"column_name":"name","table_name":"companies"},{"column_name":"cin","table_name":"companies"},{"column_name":"pan","table_name":"companies"},{"column_name":"created_at","table_name":"companies"},{"column_name":"gstin_id","table_name":"company_gstins"},{"column_name":"company_id","table_name":"company_gstins"},{"column_name":"gstin","table_name":"company_gstins"},{"column_name":"address_id","table_name":"company_gstins"},{"column_name":"is_primary","table_name":"company_gstins"},{"column_name":"is_active","table_name":"company_gstins"},{"column_name":"created_at","table_name":"company_gstins"},{"column_name":"updated_at","table_name":"company_gstins"},{"column_name":"customer_id","table_name":"customers"},{"column_name":"company_id","table_name":"customers"},{"column_name":"name","table_name":"customers"},{"column_name":"gstin","table_name":"customers"},{"column_name":"address","table_name":"customers"},{"column_name":"city","table_name":"customers"},{"column_name":"state","table_name":"customers"},{"column_name":"country","table_name":"customers"},{"column_name":"contact_person","table_name":"customers"},{"column_name":"email","table_name":"customers"},{"column_name":"phone","table_name":"customers"},{"column_name":"credit_limit","table_name":"customers"},{"column_name":"created_at","table_name":"customers"},{"column_name":"is_active","table_name":"customers"},{"column_name":"department_id","table_name":"departments"},{"column_name":"company_id","table_name":"departments"},{"column_name":"name","table_name":"departments"},{"column_name":"description","table_name":"departments"},{"column_name":"created_at","table_name":"departments"},{"column_name":"verification_id","table_name":"email_verifications"},{"column_name":"user_id","table_name":"email_verifications"},{"column_name":"email","table_name":"email_verifications"},{"column_name":"otp","table_name":"email_verifications"},{"column_name":"is_verified","table_name":"email_verifications"},{"column_name":"created_at","table_name":"email_verifications"},{"column_name":"expires_at","table_name":"email_verifications"},{"column_name":"employee_id","table_name":"employees"},{"column_name":"company_id","table_name":"employees"},{"column_name":"department_id","table_name":"employees"},{"column_name":"employee_code","table_name":"employees"},{"column_name":"name","table_name":"employees"},{"column_name":"pan","table_name":"employees"},{"column_name":"pf_number","table_name":"employees"},{"column_name":"esi_number","table_name":"employees"},{"column_name":"uan","table_name":"employees"},{"column_name":"doj","table_name":"employees"},{"column_name":"dol","table_name":"employees"},{"column_name":"salary","table_name":"employees"},{"column_name":"email","table_name":"employees"},{"column_name":"phone","table_name":"employees"},{"column_name":"address","table_name":"employees"},{"column_name":"city","table_name":"employees"},{"column_name":"state","table_name":"employees"},{"column_name":"country","table_name":"employees"},{"column_name":"status","table_name":"employees"},{"column_name":"created_at","table_name":"employees"},{"column_name":"export_id","table_name":"file_exports"},{"column_name":"company_id","table_name":"file_exports"},{"column_name":"user_id","table_name":"file_exports"},{"column_name":"user_email","table_name":"file_exports"},{"column_name":"file_type","table_name":"file_exports"},{"column_name":"status","table_name":"file_exports"},{"column_name":"file_path","table_name":"file_exports"},{"column_name":"requested_at","table_name":"file_exports"},{"column_name":"completed_at","table_name":"file_exports"},{"column_name":"email_sent","table_name":"file_exports"},{"column_name":"asset_id","table_name":"fixed_assets"},{"column_name":"company_id","table_name":"fixed_assets"},{"column_name":"name","table_name":"fixed_assets"},{"column_name":"asset_number","table_name":"fixed_assets"},{"column_name":"purchase_date","table_name":"fixed_assets"},{"column_name":"purchase_value","table_name":"fixed_assets"},{"column_name":"vendor_id","table_name":"fixed_assets"},{"column_name":"address_id","table_name":"fixed_assets"},{"column_name":"asset_class","table_name":"fixed_assets"},{"column_name":"useful_life_years","table_name":"fixed_assets"},{"column_name":"depreciation_method","table_name":"fixed_assets"},{"column_name":"salvage_value","table_name":"fixed_assets"},{"column_name":"current_value","table_name":"fixed_assets"},{"column_name":"last_depreciation_date","table_name":"fixed_assets"},{"column_name":"depreciation_rate","table_name":"fixed_assets"},{"column_name":"status","table_name":"fixed_assets"},{"column_name":"created_at","table_name":"fixed_assets"},{"column_name":"inventory_id","table_name":"inventory"},{"column_name":"company_id","table_name":"inventory"},{"column_name":"product_id","table_name":"inventory"},{"column_name":"address_id","table_name":"inventory"},{"column_name":"quantity","table_name":"inventory"},{"column_name":"last_updated","table_name":"inventory"},{"column_name":"invoice_id","table_name":"invoices"},{"column_name":"company_id","table_name":"invoices"},{"column_name":"order_id","table_name":"invoices"},{"column_name":"customer_id","table_name":"invoices"},{"column_name":"invoice_date","table_name":"invoices"},{"column_name":"due_date","table_name":"invoices"},{"column_name":"amount","table_name":"invoices"},{"column_name":"paid_amount","table_name":"invoices"},{"column_name":"status","table_name":"invoices"},{"column_name":"created_at","table_name":"invoices"},{"column_name":"payable_id","table_name":"payables"},{"column_name":"company_id","table_name":"payables"},{"column_name":"po_id","table_name":"payables"},{"column_name":"vendor_id","table_name":"payables"},{"column_name":"invoice_date","table_name":"payables"},{"column_name":"due_date","table_name":"payables"},{"column_name":"amount","table_name":"payables"},{"column_name":"paid_amount","table_name":"payables"},{"column_name":"status","table_name":"payables"},{"column_name":"created_at","table_name":"payables"},{"column_name":"payment_id","table_name":"payments"},{"column_name":"subscription_id","table_name":"payments"},{"column_name":"amount","table_name":"payments"},{"column_name":"payment_date","table_name":"payments"},{"column_name":"status","table_name":"payments"},{"column_name":"razorpay_order_id","table_name":"payments"},{"column_name":"razorpay_payment_id","table_name":"payments"},{"column_name":"created_at","table_name":"payments"},{"column_name":"payroll_id","table_name":"payroll"},{"column_name":"company_id","table_name":"payroll"},{"column_name":"employee_id","table_name":"payroll"},{"column_name":"pay_period","table_name":"payroll"},{"column_name":"basic_salary","table_name":"payroll"},{"column_name":"hra","table_name":"payroll"},{"column_name":"conveyance","table_name":"payroll"},{"column_name":"medical_allowance","table_name":"payroll"},{"column_name":"special_allowance","table_name":"payroll"},{"column_name":"gross_salary","table_name":"payroll"},{"column_name":"pf_deduction","table_name":"payroll"},{"column_name":"esi_deduction","table_name":"payroll"},{"column_name":"tds_deduction","table_name":"payroll"},{"column_name":"other_deductions","table_name":"payroll"},{"column_name":"net_salary","table_name":"payroll"},{"column_name":"payment_status","table_name":"payroll"},{"column_name":"payment_date","table_name":"payroll"},{"column_name":"created_at","table_name":"payroll"},{"column_name":"verification_id","table_name":"phone_verifications"},{"column_name":"user_id","table_name":"phone_verifications"},{"column_name":"phone_number","table_name":"phone_verifications"},{"column_name":"otp","table_name":"phone_verifications"},{"column_name":"is_verified","table_name":"phone_verifications"},{"column_name":"created_at","table_name":"phone_verifications"},{"column_name":"expires_at","table_name":"phone_verifications"},{"column_name":"product_id","table_name":"products"},{"column_name":"company_id","table_name":"products"},{"column_name":"name","table_name":"products"},{"column_name":"sku","table_name":"products"},{"column_name":"hsn_code","table_name":"products"},{"column_name":"description","table_name":"products"},{"column_name":"unit","table_name":"products"},{"column_name":"sale_price","table_name":"products"},{"column_name":"purchase_price","table_name":"products"},{"column_name":"min_stock_level","table_name":"products"},{"column_name":"max_stock_level","table_name":"products"},{"column_name":"created_at","table_name":"products"},{"column_name":"is_active","table_name":"products"},{"column_name":"item_id","table_name":"purchase_order_items"},{"column_name":"company_id","table_name":"purchase_order_items"},{"column_name":"po_id","table_name":"purchase_order_items"},{"column_name":"product_id","table_name":"purchase_order_items"},{"column_name":"quantity","table_name":"purchase_order_items"},{"column_name":"unit_price","table_name":"purchase_order_items"},{"column_name":"gst_rate","table_name":"purchase_order_items"},{"column_name":"cgst_rate","table_name":"purchase_order_items"},{"column_name":"sgst_rate","table_name":"purchase_order_items"},{"column_name":"igst_rate","table_name":"purchase_order_items"},{"column_name":"cgst_amount","table_name":"purchase_order_items"},{"column_name":"sgst_amount","table_name":"purchase_order_items"},{"column_name":"igst_amount","table_name":"purchase_order_items"},{"column_name":"total_amount","table_name":"purchase_order_items"},{"column_name":"po_id","table_name":"purchase_orders"},{"column_name":"company_id","table_name":"purchase_orders"},{"column_name":"vendor_id","table_name":"purchase_orders"},{"column_name":"po_date","table_name":"purchase_orders"},{"column_name":"expected_date","table_name":"purchase_orders"},{"column_name":"status","table_name":"purchase_orders"},{"column_name":"subtotal","table_name":"purchase_orders"},{"column_name":"cgst_amount","table_name":"purchase_orders"},{"column_name":"sgst_amount","table_name":"purchase_orders"},{"column_name":"igst_amount","table_name":"purchase_orders"},{"column_name":"total_amount","table_name":"purchase_orders"},{"column_name":"notes","table_name":"purchase_orders"},{"column_name":"created_by","table_name":"purchase_orders"},{"column_name":"created_at","table_name":"purchase_orders"},{"column_name":"role_id","table_name":"roles"},{"column_name":"company_id","table_name":"roles"},{"column_name":"role_name","table_name":"roles"},{"column_name":"description","table_name":"roles"},{"column_name":"created_at","table_name":"roles"},{"column_name":"item_id","table_name":"sales_order_items"},{"column_name":"company_id","table_name":"sales_order_items"},{"column_name":"order_id","table_name":"sales_order_items"},{"column_name":"product_id","table_name":"sales_order_items"},{"column_name":"quantity","table_name":"sales_order_items"},{"column_name":"unit_price","table_name":"sales_order_items"},{"column_name":"gst_rate","table_name":"sales_order_items"},{"column_name":"cgst_rate","table_name":"sales_order_items"},{"column_name":"sgst_rate","table_name":"sales_order_items"},{"column_name":"igst_rate","table_name":"sales_order_items"},{"column_name":"cgst_amount","table_name":"sales_order_items"},{"column_name":"sgst_amount","table_name":"sales_order_items"},{"column_name":"igst_amount","table_name":"sales_order_items"},{"column_name":"total_amount","table_name":"sales_order_items"},{"column_name":"order_id","table_name":"sales_orders"},{"column_name":"company_id","table_name":"sales_orders"},{"column_name":"customer_id","table_name":"sales_orders"},{"column_name":"order_date","table_name":"sales_orders"},{"column_name":"delivery_date","table_name":"sales_orders"},{"column_name":"status","table_name":"sales_orders"},{"column_name":"subtotal","table_name":"sales_orders"},{"column_name":"cgst_amount","table_name":"sales_orders"},{"column_name":"sgst_amount","table_name":"sales_orders"},{"column_name":"igst_amount","table_name":"sales_orders"},{"column_name":"total_amount","table_name":"sales_orders"},{"column_name":"notes","table_name":"sales_orders"},{"column_name":"created_by","table_name":"sales_orders"},{"column_name":"created_at","table_name":"sales_orders"},{"column_name":"subscription_id","table_name":"subscriptions"},{"column_name":"company_id","table_name":"subscriptions"},{"column_name":"user_id","table_name":"subscriptions"},{"column_name":"plan_type","table_name":"subscriptions"},{"column_name":"start_date","table_name":"subscriptions"},{"column_name":"end_date","table_name":"subscriptions"},{"column_name":"is_active","table_name":"subscriptions"},{"column_name":"price_per_user_per_month","table_name":"subscriptions"},{"column_name":"total_users","table_name":"subscriptions"},{"column_name":"total_amount","table_name":"subscriptions"},{"column_name":"payment_status","table_name":"subscriptions"},{"column_name":"razorpay_payment_id","table_name":"subscriptions"},{"column_name":"trial_start_date","table_name":"subscriptions"},{"column_name":"trial_end_date","table_name":"subscriptions"},{"column_name":"is_trial_active","table_name":"subscriptions"},{"column_name":"created_at","table_name":"subscriptions"},{"column_name":"updated_at","table_name":"subscriptions"},{"column_name":"transaction_id","table_name":"transactions"},{"column_name":"company_id","table_name":"transactions"},{"column_name":"date","table_name":"transactions"},{"column_name":"account_id","table_name":"transactions"},{"column_name":"amount","table_name":"transactions"},{"column_name":"type","table_name":"transactions"},{"column_name":"description","table_name":"transactions"},{"column_name":"reference_type","table_name":"transactions"},{"column_name":"reference_id","table_name":"transactions"},{"column_name":"created_by","table_name":"transactions"},{"column_name":"created_at","table_name":"transactions"},{"column_name":"erp_user_id","table_name":"user_company_roles"},{"column_name":"company_id","table_name":"user_company_roles"},{"column_name":"role_id","table_name":"user_company_roles"},{"column_name":"created_at","table_name":"user_company_roles"},{"column_name":"updated_at","table_name":"user_company_roles"},{"column_name":"vendor_id","table_name":"vendors"},{"column_name":"company_id","table_name":"vendors"},{"column_name":"name","table_name":"vendors"},{"column_name":"gstin","table_name":"vendors"},{"column_name":"address","table_name":"vendors"},{"column_name":"city","table_name":"vendors"},{"column_name":"state","table_name":"vendors"},{"column_name":"country","table_name":"vendors"},{"column_name":"contact_person","table_name":"vendors"},{"column_name":"email","table_name":"vendors"},{"column_name":"phone","table_name":"vendors"},{"column_name":"credit_limit","table_name":"vendors"},{"column_name":"created_at","table_name":"vendors"},{"column_name":"is_active","table_name":"vendors"}]

C:\Users\user\AppData\Local\Temp\ipykernel_1688\2241132447.py:11: DeprecationWarning: Call to deprecated close. (Use aclose() instead) -- Deprecated since version 5.0.1.
  await redis_client.close()

# Agentic Implementation

## v2

In [1]:
import asyncio
import json
import sqlparse
import redis.asyncio as redis
from toolbox_langchain import ToolboxClient
from langchain_google_vertexai import ChatVertexAI
from langchain_openai import ChatOpenAI
from langchain.prompts import PromptTemplate
from langchain.memory.chat_message_histories import RedisChatMessageHistory

In [2]:
from dotenv import load_dotenv
import os
load_dotenv('.env')
open_ai_key = os.getenv("OPEN_AI_KEY")

In [4]:


# Persistent conversation memory in Redis
history = RedisChatMessageHistory(
    url="redis://localhost:6379",
    session_id="user_001"
)


def extract_sql_from_response(response: str) -> str:
    import re
    # Extract content between ```sql and ```
    pattern = r"```sql\s*(.*?)```"
    match = re.search(pattern, response, re.DOTALL | re.IGNORECASE)
    if match:
        return match.group(1).strip()
    else:
        # fallback: return the whole response if no fences found
        return response.strip()

# Load schema from Redis
async def load_schema(redis_url: str):
    redis_client = redis.from_url(redis_url)
    schema_json = await redis_client.get("db_metadata")
    await redis_client.close()
    return json.loads(schema_json.decode("utf-8")) if schema_json else []

# Agent 1: NL to SQL with follow-up support
# Modified Agent 1
async def agent1_nl_to_sql(user_question, schema_info, llm):
    last_sql = None
    for msg in reversed(history.messages):
        if "[Agent 1 Generated SQL]" in msg.content:
            last_sql = msg.content.replace("[Agent 1 Generated SQL]", "").strip()
            break

    schema_desc = ""
    for table in {col['table_name'] for col in schema_info}:
        cols = [c['column_name'] for c in schema_info if c['table_name'] == table]
        schema_desc += f"Table {table} (Columns: {', '.join(cols)})\n"

    template_text = (
        "Conversation so far:\n{history}\n\n"
        "You are an intelligent AI agent.\n"
        "If the user request is related to database query  generate ONLY a SQL (Postgres) wrapped inside ``````.\n"
        "If the user request is normal conversation (not database related)  just reply in plain text.\n"
    )
    if last_sql:
        template_text += (
            "Last SQL was:\n{last_sql}\n"
            "Users follow-up:\n{question}\n"
        )
    else:
        template_text += "Users question:\n{question}\n"

    prompt_template = PromptTemplate(
        input_variables=["history", "schema", "question", "last_sql"],
        template=template_text,
    )

    prompt = prompt_template.format(
        history="\n".join([f"{m.type}: {m.content}" for m in history.messages]),
        schema=schema_desc,
        question=user_question,
        last_sql=last_sql or ""
    )

    resp = llm.invoke(prompt)
    response_content = resp.content.strip()

    sql_candidate = extract_sql_from_response(response_content)

    if sql_candidate and sql_candidate != response_content:  
        # SQL found
        history.add_ai_message(f"[Agent 1 Generated SQL] {sql_candidate}")
        print(f"[Agent 1 Output - SQL]\n{sql_candidate}")
        return ("sql", sql_candidate)
    else:
        # Normal text found
        history.add_ai_message(f"[Agent 1 Normal Reply] {response_content}")
        print(f"[Agent 1 Output - Text]\n{response_content}")
        return ("text", response_content)

# Agent 2 and 3 same as before (validate and execute)...

# Modified Agent 2
# async def agent2_validate_sql(sql_query, toolbox_url="http://127.0.0.1:5000", toolset_name="my-toolset"):
#     async with ToolboxClient(toolbox_url) as client:
#         tools = await client.aload_toolset(toolset_name)
#         validate_tool = next((t for t in tools if t.name == "validate-sql"), None)
#         if not validate_tool:
#             raise RuntimeError("validate-sql tool not found in tools.yaml")

#         tool_call = {"query": sql_query}
#         result = validate_tool.invoke(tool_call)

#         history.add_ai_message(f"[Agent 2 Validation Result] {result}")
#         print("[Agent 2] Validation Result:", result)
#         return sql_query if "valid" in str(result).lower() else None


# 

async def agent2_validate_sql(sql_query, schema_info, user_question, llm, max_retries=2):
    attempt = 0
    corrected_sql = sql_query
    schema_desc = json.dumps(schema_info)

    while attempt <= max_retries:
        attempt += 1

        # -------------------------
        # Validation prompt
        # -------------------------
        validation_template = PromptTemplate(
            input_variables=["history", "schema", "question", "sql_query"],
            template=(
                "Conversation so far:\n{history}\n\n"
                "You are an expert SQL validator. "
                "Given the schema (PostgreSQL) and SQL query, determine if it is valid:\n\n"
                "Schema: {schema}\n"
                "SQL Query: {sql_query}\n\n"
                "User Question: {question}\n\n"
                "Respond in strict format:\n"
                "- If valid: 'VALID: <repeat SQL here>'\n"
                "- If invalid: 'INVALID: <reason>'"
            ),
        )

        validation_prompt = validation_template.format(
            history="\n".join([f"{m.type}: {m.content}" for m in history.messages]),
            schema=schema_desc,
            question=user_question,
            sql_query=corrected_sql,
        )

        validation_resp = llm.invoke(validation_prompt).content.strip()
        print(f"[Agent 2 Validation Attempt {attempt}] {validation_resp}")

        # -------------------------
        # Case 1: Valid SQL
        # -------------------------
        if validation_resp.startswith("VALID:"):
            valid_sql = validation_resp.replace("VALID:", "").strip()
            history.add_ai_message(f"[Agent 2] SQL validation passed.\n{valid_sql}")
            print("[Agent 2] SQL validation passed.")
            return valid_sql

        # -------------------------
        # Case 2: Invalid SQL  Correction
        # -------------------------
        elif validation_resp.startswith("INVALID:"):
            reason = validation_resp.replace("INVALID:", "").strip()
            history.add_ai_message(f"[Agent 2] Validation failed: {reason}")
            print(f"[Agent 2] Validation failed: {reason}")

            correction_template = PromptTemplate(
                input_variables=["history", "schema", "question", "bad_sql", "error"],
                template=(
                    "Conversation so far:\n{history}\n\n"
                    "The SQL query `{bad_sql}` is invalid due to: {error}\n"
                    "Schema: {schema}\n\n"
                    "Rewrite the SQL so it matches the schema, "
                    "answers the user request, and follows PostgreSQL syntax.\n"
                    "User Question: {question}\n"
                    "Corrected SQL:"
                ),
            )

            correction_prompt = correction_template.format(
                history="\n".join([f"{m.type}: {m.content}" for m in history.messages]),
                schema=schema_desc,
                question=user_question,
                bad_sql=corrected_sql,
                error=reason,
            )

            corrected_sql = llm.invoke(correction_prompt).content.strip()
            history.add_ai_message(f"[Agent 2 Corrected SQL] {corrected_sql}")
            print(f"[Agent 2 Corrected SQL] {corrected_sql}")

        else:
            # Unexpected LLM response
            history.add_ai_message(f"[Agent 2] Unexpected validation response: {validation_resp}")
            print(f"[Agent 2] Unexpected validation response: {validation_resp}")
            break

    return corrected_sql



async def agent3_execute_sql(sql_query, toolbox_url="http://127.0.0.1:5000", toolset_name="my-toolset"):
    async with ToolboxClient(toolbox_url) as client:
        tools = await client.aload_toolset(toolset_name)
        run_query_tool = next((t for t in tools if t.name == "run-query"), None)
        if not run_query_tool:
            raise RuntimeError("run-query tool not found")
        

        raw_sql = extract_sql_from_response(sql_query)
        print("SQL sent:", repr(raw_sql))


        print(f"The correct sql query: {raw_sql}")
        tool_call = {'query': raw_sql}
        result = run_query_tool.invoke(tool_call)
        history.add_ai_message(f"[Agent 3 Execution Result] {result}")
        print("[Agent 3] Execution Result:")
        print(result)
        return result

# Orchestrator with follow-up support
async def multi_llm_pipeline():
    redis_url = "redis://localhost:6379"
    toolbox_url = "http://127.0.0.1:5000"

    # Load schema info once outside the loop
    print("Loading the schema info...")
    schema_info = await load_schema(redis_url)
    print(f"Schema info loaded. Type: {type(schema_info)}")

    # Initialize LLM agents once outside the loop
    llm_agent1 = ChatVertexAI(model_name="gemini-2.0-flash-001")
    llm_agent2 = ChatOpenAI(
        model="gpt-4o-mini",
        temperature=0,
        api_key=open_ai_key  # or rely on env variable
    )

    print("Starting interactive session. Type 'exit' or 'quit' to stop.")

    while True:
        user_question = input("\nEnter query (or follow-up): ")
        if user_question.strip().lower() in {"exit", "quit"}:
            print("Ending session.")
            break

        history.add_user_message(user_question)

        # NL->SQL
        sql_query = await agent1_nl_to_sql(user_question, schema_info, llm_agent1)

        # Validate SQL
        validated_sql = await agent2_validate_sql(sql_query, schema_info, user_question, llm_agent2)

        # Execute SQL and get results
        results = await agent3_execute_sql(validated_sql, toolbox_url)

        print("\n[Final Results]")
        print(results)

        print("\n[Conversation History]")
        for m in history.messages:
            print(f"{m.type.capitalize()}: {m.content}")


if __name__ == "__main__":
    await multi_llm_pipeline()

Loading the schema info...

C:\Users\user\AppData\Local\Temp\ipykernel_16512\2704321011.py:23: DeprecationWarning: Call to deprecated close. (Use aclose() instead) -- Deprecated since version 5.0.1.
  await redis_client.close()

Schema info loaded. Type: <class 'list'>
Starting interactive session. Type 'exit' or 'quit' to stop.
[Agent 1 Output - SQL]
SELECT SUM(total_amount) AS last_year_revenue
FROM sales_orders
WHERE EXTRACT(YEAR FROM order_date) = EXTRACT(YEAR FROM CURRENT_DATE - INTERVAL '1 year');
[Agent 2 Validation Attempt 1] VALID: SELECT SUM(total_amount) AS last_year_revenue
FROM sales_orders
WHERE EXTRACT(YEAR FROM order_date) = EXTRACT(YEAR FROM CURRENT_DATE - INTERVAL '1 year');
[Agent 2] SQL validation passed.
SQL sent: "SELECT SUM(total_amount) AS last_year_revenue  \nFROM sales_orders  \nWHERE EXTRACT(YEAR FROM order_date) = EXTRACT(YEAR FROM CURRENT_DATE - INTERVAL '1 year');"
The correct sql query: SELECT SUM(total_amount) AS last_year_revenue
FROM sales_orders
WHERE EXTRACT(YEAR FROM order_date) = EXTRACT(YEAR FROM CURRENT_DATE - INTERVAL '1 year');
[Agent 3] Execution Result:
[{"last_year_revenue":159784.78}]

[Final Results]
[{"last_year_revenue":159784.78}]

[Conversation History]
Human: How many employees are there ?
Human: How many employees are there ?
Human: How many employees are there ?
Human: How many employees are there ?
Human: How many employees are there ?
Human: How many employees are there ?
Human: How many employees are there ?
Human: How many employees are there ?
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM Employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] To match the schema and the user request, the SQL query should count the number of entries in the `employees` table. The correct SQL query is:

```sql
SELECT count(*) FROM employees
```

This query is already correct based on the schema provided, as the `employees` table exists in the schema. If there are still validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Human: How many employees are there ?
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.

If the validation continues to fail, please check if the table name is case-sensitive or if there are any other discrepancies in the schema that might be causing the mismatch.
Ai: [Agent 2] SQL validation passed.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.

If the validation continues to fail, please check if the table name is case-sensitive or if there are any other discrepancies in the schema that might be causing the mismatch.
Ai: [Agent 2] SQL validation passed.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.

If the validation continues to fail, please check if the table name is case-sensitive or if there are any other discrepancies in the schema that might be causing the mismatch.
Ai: [Agent 2] SQL validation passed.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM Employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] To match the schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.

If the validation continues to fail, please check if the table name is case-sensitive or if there are any other discrepancies in the schema that might be causing the mismatch.
Ai: [Agent 2] SQL validation passed.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.

If the validation continues to fail, please check if the table name is case-sensitive or if there are any other discrepancies in the schema that might be causing the mismatch.
Ai: [Agent 2] SQL validation passed.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.

If the validation continues to fail, please check if the table name is case-sensitive or if there are any other discrepancies in the schema that might be causing the mismatch.
Ai: [Agent 2] SQL validation passed.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```

This query is already aligned with the schema, as the `employees` table exists. If you are still encountering validation issues, please ensure that the database connection and context are correctly set up to access the `employees` table.

If the validation continues to fail, please check if the table name is case-sensitive or if there are any other discrepancies in the schema that might be causing the mismatch.
Ai: [Agent 2] SQL validation passed.
Human: How many employees are there ?
Ai: [Agent 1 Generated SQL] ```sql
SELECT count(*) FROM employees
```
Ai: [Agent 2] Validation failed: Table/column mismatch
Ai: [Agent 2 Corrected SQL] Based on the provided schema and the user request, the correct SQL query to count the number of employees is:

```sql
SELECT count(*) FROM employees
```


'gcloud' is not recognized as an internal or external command,
operable program or batch file.

In [4]:
# from google import genai
# from google.genai import types
# client = genai.Client(
# vertexai=True, project="gen-lang-client-0571342867", location="global",
# )
# # If your image is stored in Google Cloud Storage, you can use the from_uri class method to create a Part object.
# IMAGE_URI = "gs://generativeai-downloads/images/scones.jpg"
# model = "gemini-2.5-flash-lite-preview-06-17"
# response = client.models.generate_content(
# model=model,
# contents=[
#   "How's the weather in Bangalore?"
# ],
# )
# print(response.text, end="")

DefaultCredentialsError: Your default credentials were not found. To set up Application Default Credentials, see https://cloud.google.com/docs/authentication/external/set-up-adc for more information.

In [ ]:
# os.environ['OPENAI_API_KEY']= "YOUR_OPENAI_API_KEY"

<!-- # Connecting the Database
 -->

In [ ]:
#  # db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=1,include_tables=['customers','orders'],custom_table_info={'customers':"customer"})
# db = SQLDatabase.from_uri(f"postgresql+psycopg2://postgres:ashish6677@35.244.23.220/dvdrental")
# print(db.dialect)
# print(db.get_usable_table_names())
# print(db.table_info)

postgresql
['actor', 'address', 'category', 'city', 'country', 'customer', 'customers', 'film', 'film_actor', 'film_category', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

CREATE TABLE actor (
	actor_id SERIAL NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT actor_pkey PRIMARY KEY (actor_id)
)

/*
3 rows from actor table:
actor_id	first_name	last_name	last_update
1	Penelope	Guiness	2013-05-26 14:47:57.620000
2	Nick	Wahlberg	2013-05-26 14:47:57.620000
3	Ed	Chase	2013-05-26 14:47:57.620000
*/


CREATE TABLE address (
	address_id SERIAL NOT NULL,
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT address_pkey PRIMARY KEY (address_id),
	CONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id)
)

/*
3 rows from address table:
address_id	address	address2	district	city_id	postal_code	phone	last_update
1	47 MySakila Drive	None	Alberta	300			2006-02-15 09:45:30
2	28 MySQL Boulevard	None	QLD	576			2006-02-15 09:45:30
3	23 Workhaven Lane	None	Alberta	300		14033335568	2006-02-15 09:45:30
*/


CREATE TABLE category (
	category_id SERIAL NOT NULL,
	name VARCHAR(25) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT category_pkey PRIMARY KEY (category_id)
)

/*
3 rows from category table:
category_id	name	last_update
1	Action	2006-02-15 09:46:27
2	Animation	2006-02-15 09:46:27
3	Children	2006-02-15 09:46:27
*/


CREATE TABLE city (
	city_id SERIAL NOT NULL,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT city_pkey PRIMARY KEY (city_id),
	CONSTRAINT fk_city FOREIGN KEY(country_id) REFERENCES country (country_id)
)

/*
3 rows from city table:
city_id	city	country_id	last_update
1	A Corua (La Corua)	87	2006-02-15 09:45:25
2	Abha	82	2006-02-15 09:45:25
3	Abu Dhabi	101	2006-02-15 09:45:25
*/


CREATE TABLE country (
	country_id SERIAL NOT NULL,
	country VARCHAR(50) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT country_pkey PRIMARY KEY (country_id)
)

/*
3 rows from country table:
country_id	country	last_update
1	Afghanistan	2006-02-15 09:44:00
2	Algeria	2006-02-15 09:44:00
3	American Samoa	2006-02-15 09:44:00
*/


CREATE TABLE customer (
	customer_id SERIAL NOT NULL,
	store_id SMALLINT NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	email VARCHAR(50),
	address_id SMALLINT NOT NULL,
	activebool BOOLEAN DEFAULT true NOT NULL,
	create_date DATE DEFAULT ('now'::text)::date NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now(),
	active INTEGER,
	CONSTRAINT customer_pkey PRIMARY KEY (customer_id),
	CONSTRAINT customer_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from customer table:
customer_id	store_id	first_name	last_name	email	address_id	activebool	create_date	last_update	active
524	1	Jared	Ely	jared.ely@sakilacustomer.org	530	True	2006-02-14	2013-05-26 14:49:45.738000	1
1	1	Mary	Smith	mary.smith@sakilacustomer.org	5	True	2006-02-14	2013-05-26 14:49:45.738000	1
2	1	Patricia	Johnson	patricia.johnson@sakilacustomer.org	6	True	2006-02-14	2013-05-26 14:49:45.738000	1
*/


CREATE TABLE customers (
	customer_id SERIAL NOT NULL,
	firstname VARCHAR(50) NOT NULL,
	lastname VARCHAR(50) NOT NULL,
	location VARCHAR(50) NOT NULL,
	email VARCHAR(50) NOT NULL,
	CONSTRAINT customers_pkey PRIMARY KEY (customer_id)
)

/*
3 rows from customers table:
customer_id	firstname	lastname	location	email
1	Orlando	Bloom	Australia	orlando@python.com
2	Keith	Urban	India	keith0@adventure-works.com
3	Donna	Paulson	Germany	donna0@adventure-works.com
*/


CREATE TABLE film (
	film_id SERIAL NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT,
	release_year year,
	language_id SMALLINT NOT NULL,
	rental_duration SMALLINT DEFAULT 3 NOT NULL,
	rental_rate NUMERIC(4, 2) DEFAULT 4.99 NOT NULL,
	length SMALLINT,
	replacement_cost NUMERIC(5, 2) DEFAULT 19.99 NOT NULL,
	rating mpaa_rating DEFAULT 'G'::mpaa_rating,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	special_features TEXT[],
	fulltext TSVECTOR NOT NULL,
	CONSTRAINT film_pkey PRIMARY KEY (film_id),
	CONSTRAINT film_language_id_fkey FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film table:
film_id	title	description	release_year	language_id	rental_duration	rental_rate	length	replacement_cost	rating	last_update	special_features	fulltext
133	Chamber Italian	A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria	2006	1	7	4.99	117	14.99	NC-17	2013-05-26 14:50:58.951000	['Trailers']	'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':
384	Grosse Wonderful	A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia	2006	1	5	4.99	49	19.99	R	2013-05-26 14:50:58.951000	['Behind the Scenes']	'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'won
8	Airport Pollock	A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India	2006	1	6	4.99	54	15.99	R	2013-05-26 14:50:58.951000	['Trailers']	'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13
*/


CREATE TABLE film_actor (
	actor_id SMALLINT NOT NULL,
	film_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT film_actor_pkey PRIMARY KEY (actor_id, film_id),
	CONSTRAINT film_actor_actor_id_fkey FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT film_actor_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film_actor table:
actor_id	film_id	last_update
1	1	2006-02-15 10:05:03
1	23	2006-02-15 10:05:03
1	25	2006-02-15 10:05:03
*/


CREATE TABLE film_category (
	film_id SMALLINT NOT NULL,
	category_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT film_category_pkey PRIMARY KEY (film_id, category_id),
	CONSTRAINT film_category_category_id_fkey FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT film_category_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from film_category table:
film_id	category_id	last_update
1	6	2006-02-15 10:07:09
2	11	2006-02-15 10:07:09
3	6	2006-02-15 10:07:09
*/


CREATE TABLE inventory (
	inventory_id SERIAL NOT NULL,
	film_id SMALLINT NOT NULL,
	store_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT inventory_pkey PRIMARY KEY (inventory_id),
	CONSTRAINT inventory_film_id_fkey FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from inventory table:
inventory_id	film_id	store_id	last_update
1	1	1	2006-02-15 10:09:17
2	1	1	2006-02-15 10:09:17
3	1	1	2006-02-15 10:09:17
*/


CREATE TABLE language (
	language_id SERIAL NOT NULL,
	name CHAR(20) NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT language_pkey PRIMARY KEY (language_id)
)

/*
3 rows from language table:
language_id	name	last_update
1	English             	2006-02-15 10:02:19
2	Italian             	2006-02-15 10:02:19
3	Japanese            	2006-02-15 10:02:19
*/


CREATE TABLE payment (
	payment_id SERIAL NOT NULL,
	customer_id SMALLINT NOT NULL,
	staff_id SMALLINT NOT NULL,
	rental_id INTEGER NOT NULL,
	amount NUMERIC(5, 2) NOT NULL,
	payment_date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	CONSTRAINT payment_pkey PRIMARY KEY (payment_id),
	CONSTRAINT payment_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT payment_rental_id_fkey FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT payment_staff_id_fkey FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from payment table:
payment_id	customer_id	staff_id	rental_id	amount	payment_date
17503	341	2	1520	7.99	2007-02-15 22:25:46.996577
17504	341	1	1778	1.99	2007-02-16 17:23:14.996577
17505	341	1	1849	7.99	2007-02-16 22:41:45.996577
*/


CREATE TABLE rental (
	rental_id SERIAL NOT NULL,
	rental_date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	inventory_id INTEGER NOT NULL,
	customer_id SMALLINT NOT NULL,
	return_date TIMESTAMP WITHOUT TIME ZONE,
	staff_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT rental_pkey PRIMARY KEY (rental_id),
	CONSTRAINT rental_customer_id_fkey FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT rental_inventory_id_fkey FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT rental_staff_id_key FOREIGN KEY(staff_id) REFERENCES staff (staff_id)
)

/*
3 rows from rental table:
rental_id	rental_date	inventory_id	customer_id	return_date	staff_id	last_update
2	2005-05-24 22:54:33	1525	459	2005-05-28 19:40:33	1	2006-02-16 02:30:53
3	2005-05-24 23:03:39	1711	408	2005-06-01 22:12:39	1	2006-02-16 02:30:53
4	2005-05-24 23:04:41	2452	333	2005-06-03 01:43:41	2	2006-02-16 02:30:53
*/


CREATE TABLE staff (
	staff_id SERIAL NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	address_id SMALLINT NOT NULL,
	email VARCHAR(50),
	store_id SMALLINT NOT NULL,
	active BOOLEAN DEFAULT true NOT NULL,
	username VARCHAR(16) NOT NULL,
	password VARCHAR(40),
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	picture BYTEA,
	CONSTRAINT staff_pkey PRIMARY KEY (staff_id),
	CONSTRAINT staff_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from staff table:
staff_id	first_name	last_name	address_id	email	store_id	active	username	password	last_update	picture
1	Mike	Hillyer	3	Mike.Hillyer@sakilastaff.com	1	True	Mike	8cb2237d0679ca88db6464eac60da96345513964	2006-05-16 16:13:11.793280	b'\x89PNG\r\nZ\n'
2	Jon	Stephens	4	Jon.Stephens@sakilastaff.com	2	True	Jon	8cb2237d0679ca88db6464eac60da96345513964	2006-05-16 16:13:11.793280	None
*/


CREATE TABLE store (
	store_id SERIAL NOT NULL,
	manager_staff_id SMALLINT NOT NULL,
	address_id SMALLINT NOT NULL,
	last_update TIMESTAMP WITHOUT TIME ZONE DEFAULT now() NOT NULL,
	CONSTRAINT store_pkey PRIMARY KEY (store_id),
	CONSTRAINT store_address_id_fkey FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT store_manager_staff_id_fkey FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)

/*
3 rows from store table:
store_id	manager_staff_id	address_id	last_update
1	1	1	2006-02-15 09:57:12
2	2	2	2006-02-15 09:57:12
*/

In [ ]:
#

In [ ]:
#

<!-- # Converting Natural Language to SQL -->

In [ ]:

# llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0)
# generate_query = create_sql_query_chain(llm, db)
# query = generate_query.invoke({"question": "How many film categories are there?"})
# print(query)

SELECT COUNT("category_id") AS total_categories
FROM category;

<!-- # Running the SQL Query to get the Output -->

In [ ]:

# execute_query = QuerySQLDataBaseTool(db=db)
# execute_query.invoke(query)

'[(16,)]'

<!-- # Rephrasing Answers -->

In [ ]:


# answer_prompt = PromptTemplate.from_template(
#      """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

#  Question: {question}
#  SQL Query: {query}
#  SQL Result: {result}
#  Answer: """
#  )

# rephrase_answer = answer_prompt | llm | StrOutputParser()

# chain = (
#      RunnablePassthrough.assign(query=generate_query).assign(
#          result=itemgetter("query") | execute_query
#      )
#      | rephrase_answer
#  )
# chain.invoke({"question": "How many actors have more than 2 films"})

'There are 5 actors who have appeared in more than 2 films.'

In [ ]:
#